@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: #232323;
    color: white;
}

header {
    background-color: #2a2a2a;
    min-height: 150px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 6px #00000013;
}

header h1 {
    background-color: transparent;
    padding-top: 45px;
}

/* main {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
} */

h2 {
    margin: -10px 0 20px 0;
}

main img {
    width: 400px;
    margin: 5px;
    border-radius: 15px;
}

img:hover {
    transition: .2s;
    transform: scale(105%);
}

iframe {
    width: 540px;
    height: 300px;
    border-radius: 15px;
}

.button {
    width: 100px;
}

.par {
    margin-bottom: -15px;
}

a {
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

.aop {
    color: rgb(85, 105, 192);
}

.osnf {
    color: rgb(145, 167, 50);
}

.opd {
    color: rgb(194, 60, 60);
}

.opc {
    color: rgb(231, 231, 94);
}

.osni {
    color: rgb(111, 184, 133);
}

.sdol {
    color: rgb(69, 255, 69);
}